* {
  font-family: "cwTeXYen", "Ubuntu";
  font-family: "Ubuntu", sans-serif;
}

li {
  list-style-type: none;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  width: cover;
  height: 50px;
  font-size: 20px;
  position: -webkit-sticky;
  position: sticky;
  padding: 0px;
  top: 0px;
  background-color: #ff9867;
}
.navbar .navbar-nav a {
  color: #FFFFFF;
}
.navbar .navbar-nav a1 {
  font-size: 17px;
  display: none;
}
.navbar .navbar-nav .nl {
  padding: 0px 20px 0px 300px;
}

.navbar-nav .dropdown-content {
  display: none;
}
.navbar-nav a:hover:not(.active) {
  background-color: #ff4545;
  color: #ffedb2;
  height: 50px;
}
.navbar-nav .dropdown-content_1 a {
  display: none;
}

.dropdown:hover .abc {
  background-color: #ff4545;
  color: #ffedb2;
}
.dropdown:hover a {
  background-color: #ff9867;
}
.dropdown:hover .dropdown-content {
  font-size: 15px;
  display: block;
  width: 340px;
}
.dropdown:hover .dropdown-content a {
  padding: 0px;
}
.dropdown:hover .dropdown-content a:hover:not(.active) {
  background-color: #ff4545;
  color: #ffedb2;
  font-size: 18px;
  height: 25px;
}

.dropdown1:hover .dropdown-content_1 a {
  padding: 0px;
  text-align: center;
  font-size: 14px;
  display: block;
  color: #ff4545;
  font-weight: 1000;
  background-color: #ffedb2;
}
.dropdown1:hover .dropdown-content_1 a:hover {
  display: none;
}

.dropdown {
  width: 340px;
  min-width: 100px;
  z-index: 1;
}
.dropdown a {
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-brand {
  font-size: 35px;
  color: #FFFFFF;
  background-color: #ffedb2;
  width: cover;
  height: 50px;
}
.navbar-brand img {
  height: 35px;
  padding: 0px 0px 8px 0px;
}

section#section_airport {
  border: solid 0.1px #ffedb2;
  background-color: #ffedb2;
}
section#section_airport .card {
  background-color: #fff;
}
section#section_airport .card .col-sm-4 {
  height: 580px;
}
section#section_airport p {
  font-size: 25px;
}
section#section_airport a, section#section_airport p1 {
  font-size: 19px;
}
section#section_airport .video1, section#section_airport h2 {
  padding: 0px 3px 0px 3px;
}
section#section_airport h2 {
  text-align: center;
  color: #aedef5;
}
section#section_airport button {
  height: 30px;
  width: 30px;
  background-image: url(https://image.flaticon.com/icons/svg/180/180000.svg);
  background-size: cover;
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid;
}
section#section_airport iframe {
  background-image: url(https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.0-9/70628885_2362122664012659_3585271869286121472_o.jpg?_nc_cat=108&_nc_oc=AQmGUGHh8RBchwsxnwePZ2GHv2jlpipZhb-0XUtnZwMtRchOpFbd3uBuDR7JlNp05Yo&_nc_ht=scontent.ftpe7-3.fna&oh=d8ad35f6154c9e29f492cc1c070f5d40&oe=5E1F0C0A);
  background-size: cover;
  width: 835px;
  height: 580px;
  border: solid 5px #aedef5;
}

section#section_different {
  border: solid 0.1px #ffedb2;
  text-align: center;
  background-color: #ffedb2;
}
section#section_different .card {
  background-color: #fff;
}
section#section_different .card h2 {
  color: #a372a7;
}

section#section_introduction {
  border: solid 0.1px #ffedb2;
  background-color: #ffedb2;
}
section#section_introduction .card {
  background-color: #fff;
}
section#section_introduction .card .col-sm-3 {
  height: 580px;
}
section#section_introduction .video1 {
  padding: 0px 3px 0px 3px;
}
section#section_introduction h2 {
  text-align: center;
  color: #1a294f;
}
section#section_introduction p1, section#section_introduction a {
  font-size: 20px;
}
section#section_introduction iframe {
  background-image: url(http://www.ncyu.edu.tw/NewSite/images/opening.jpg);
  background-size: cover;
  height: 580px;
  width: 940px;
  border: solid 5px #1a294f;
}

section#section_manual {
  border: solid 0.1px #ffedb2;
  text-align: center;
  background-color: #ffedb2;
}
section#section_manual .card {
  background-color: #fff;
}
section#section_manual .card h2 {
  color: #932023;
}
section#section_manual .card iframe {
  border: solid 5px #932023;
}

.card {
  width: 1300px;
  height: 600px;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  margin-bottom: 35px;
  overflow: hidden;
  box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.5);
}
.card a {
  font-weight: bold;
}
.card a:hover:not(.active) {
  color: #996699;
  text-decoration: underline;
}